@model UserModel
@{
}

<h1>Are you sure you want to delete this user?</h1>

<form method="post" asp-action="Delete">
    <div class="mb-3">
        <label asp-for="Login">Login</label>
        <input asp-for="Login" class="form-control" placeholder="Login" disabled>
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Roles">Roles</label>
        <input asp-for="Roles" class="form-control" placeholder="@string.Join(' ', Model.Roles)" disabled>
        <span asp-validation-for="Roles" class="text-danger"></span>
    </div>
</form>
<div class="mb-3">
    <form method="post" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirm</button>
    </form>
</div>
